<!DOCTYPE html>
<html>
<head>
	<title>Job Provider</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--Bootstrap css-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/home.css">
	<!--js bootstrap-->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<!--font awesome-->
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>
<body>


      <div class="top-container">
	  
		<nav class="navbar navbar-expand-lg navbar-light bg-bold">
			<a class="navbar-brand" href="#">Job Provider!</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
		  
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav ml-auto">
				<li class="nav-item active">
				  <a class="nav-link" href="#">Home</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="#about-us">About us </a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Profile</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="#">Job Seeker</a>
				  </li> 
				  <li class="nav-item">
					<a class="nav-link" href="#">Job Provider</a>
				  </li>
				<li class="nav-item dropdown">
				  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Contact us
				  </a>
				  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">Related Query</a>
					<a class="dropdown-item" href="#">Feedback </a>
				  </div>
				</li>
				<li class="nav-item">
				  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
				</li>
			  </ul>
			</div>
		  </nav>
		  <div class="bg">
		<h1>Step Forward For Working India!</h1>
		<p class="heading">This platform provides you a way to contribute to those who need the job and to those who provide the jobs</p>

	</div>
	</div>

<section id="about-us">
	<div class="middle-container">
	<h2>Job Provider</h2>
	<p>
		Since Covid-19 is hard time of all of us beacause of this pandemic most of them lose their job specially those labour who was earning from daily wages
		Job provider is a web app which provides you a platfrom through which you can bring change in world.
		You can Initiate job for job seeker and through this web app you can find your ideal job.
	</p>

    <div class="team">
	   <div class="row">
		<div class="box col-lg-6">
		 <i class="fa fa-hand-peace-o fa-4x"></i>
		 <br>
		 <p>Join a to find the job</p>
		 <button type="button" class="btn btn-primary btn-lg">Join Team</button>
	 
		</div>
		<div class="box col-lg-6">
			<i class="fa fa-plus fa-4x"></i>
			<br>
			<p>Initiate job</p>
			<button type="button" class="btn btn-primary btn-lg">Create Team</button>

	 
		</div>
	   </div>
	</div>
</div>
</section>
<div class="feeback">
<section id="slider">
	<h2 class="slider-heading2">User Feedback</h2>
	<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			
		  <div class="carousel-item active">
			<h2 class="slider-heading21">Hello I am Pradhyumna Singh Rathore owner of cotton meal Indore ,beacause of this pandemic all of my 
				worker left the job and went to there respective towns so this hard time for me and my busniess soon Unlock process was started now 
				I want labour for my cotton meal thank to <i>Job Provider</i> where i register as job provider and with in a week
				I got labour for my company.
				Thank a Lot!
			</h2>
			<br>
			<em>Indore,India</em>
			
		  </div>
			<div class="carousel-item ">
		
				<h2 class="slider-heading21">Hello I am Yashwant Singh Rathore and I am undergraduted student beacause of this pandemic lots of 
					my friends whose work for daily weges lost their job and now Unlock Procedure is being they were looking for job 
					So I register them all on <i>Job Provider Web App </i> and within a week they got there job now they can feed their family.
					Thank You <i>Job provider </i> For this platform.
				</h2>
				<br>
				<em>Kasrawad,India</em>

			
		  </div>
		  
		</div>
		<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
		  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		  
		</a>
		<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
		  <span class="carousel-control-next-icon" aria-hidden="true"></span>
		  
		</a>
	  </div>
</section>
</div>
<section id="footer">
	<div class="meettheteam">
		<i class="space fa fa-facebook-official fa-2x"></i>
        <i class="space fa fa-instagram fa-2x"></i>
        <p class="footer-p">© Copyright 2020 prd!</p>

	</div>
</section>	 
</body>
</html>