body{
  text-align: center;
}
/* top contanier */
.bg {
  
  background-image: url("../images/job1.jpg");
  width:100%;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg::before{
  background-color: rgb(192,192,192,.30);
  content: '';
  display: block;
  height: 787px;
  position: absolute;
  width: 100%;
}
.container-fluid{
  padding:3% 15%;
}
.top-container{
  position: relative;
}
/* middle-container */
#about-us{
  padding:100px 20%;
}
/* heading */
h1{
  padding-top:20%;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  font-size: 3.0rem;
  line-height: 1.5;
  color:black;
}
.heading{
  font-size: 2.5rem;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  color:white;
  font-weight: lighter;
  line-height: 1.5;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
  font-size: 2rem;
  font-family:'Courier New', Courier, monospace;
  color:rgb(30,144,255);
  font-weight: bold;
}
.p{
  font-size: 1.5rem;
  padding: 10px;
  padding-bottom: 20px;
  font-weight: lighter;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:large;
  line-height: 2;
}
/* nav bar */
.navbar-brand{
  font-size: 2rem;
  color:#fff;
 
}

.navbar{
  margin:0;
  position:relative;
  background-color:rgb(212, 212, 212);
   
  
}
.nav-item{
  padding:0 5px;
}
.nav-link{
  font-size:1.2rem;
  font-family:"Monterrate-light";
  color:#fff;
}
/* font */
.fa{
  padding-bottom: 30px;
}

/* slider */
.feedback{
  padding-left: 10%;
}
#slider{
  padding:1%;
  background-color:rgb(30,144,255) ;
}
.slider-heading2{
  color:#fff;
  padding:10px;

}
.slider-heading21{
  color:#fff;
  font-size:1.5rem;
  text-align: center;

}

.carousel-inner{
  padding:7% 15%;
}
/* footer */
.space{
  padding:20px;
}